.header
{
  background-color: #FFE4B5;
  height: 200px;
  margin-top: -20px;
  text-align: center;
  padding: 70px;
}
#row21
{
  height: 700px;
  width: 300px;
  margin-top: 50px;
  background-color: #2E8B57;
  margin-left: 0px;
}
#row_words
{
  margin-left: 20px;
  font-size: 20px;
}
