.header
{
  background-color: #FFE4B5;
  height: 200px;
  margin-top: -20px;
  text-align: center;
  padding: 70px;
}
#row_words
{
  padding-top: 30px;
  margin-left: 10px;
  font-size: 20px;
}
#row_words1
{
  margin-left: 10px;
  font-size: 20px;
  color: #FFE4B5;
  font-size: 18px;
  margin-top: -20px;
}
#row_words2
{
  margin-left: 10px;
  font-size: 20px;
  color: white;
  font-size: 14px;
  margin-top: -20px;
}
#row_words3
{
  margin-left: 10px;
  font-size: 20px;
  color: #FFE4B5;
  font-size: 18px;
  margin-top: -20px;
}
#row_words4
{
  margin-left: 10px;
  font-size: 20px;
  color: blue;
  font-size: 14px;
  margin-top: -20px;
}
#row_words5
{
  margin-left: 10px;
  font-size: 20px;
  color: #FFE4B5;
  font-size: 18px;
  margin-top: -20px;
}
#row_words6
{
  margin-left: 10px;
  font-size: 20px;
  color: ghostwhite;
  font-size: 14px;
  margin-top: -20px;
}
#col1
{
  height: 650px;
  background-color: #DCDCDC;
}
#col2
{
  height: 550px;
  width: 350px;
  margin-top:40px;
  background-color: #3CB371;
  margin-left: -15px;
}
#col21
{
  height: 550px;
  width: 700px;
  margin-top:40px;
  background-color: #DCDCDC;
  padding-top: 30px;
  padding-left: 40px;

}

#in
{

}
#in1
{
  padding-left: 400px;
}
